p Title:
	= " "
	span(id="test-title")= title
p Subject:
	= " "
	span(id="test-subject")= subject
p Description:
	= " "
	span(id="test-description")= description || "Description is not provided"
p Duration:
	= " "
	span(id="test-duration")= duration
p Complexity:
	= " "
	span(id="test-complexity")= complexity