p Title:
	= " "
	span(class="test-title")= title
p Subject:
	= " "
	span(class="test-subject")= subject
p Description:
	= " "
	span(class="test-description")= description || "Description is not provided"
p Duration:
	= " "
	span(class="test-duration")= duration
p Complexity:
	= " "
	span(class="test-complexity")= complexity