doctype html
html
	head
		title Test:
			=title
		include ../partials/meta
		link(href='css/all-pages-common.css', rel='stylesheet')
		link(href='css/test-view.css', rel='stylesheet')
	body
		include ../partials/header
		.page-wrapper
			.test-wrapper
				.test-params
					p Title:
					h3(class="test-title")= title
					p Description:
					h3(class="test-description")= description || "Description is not provided"
					p Duration:
					h3(class="test-duration")= duration
					p Complexity:
					h3(class="test-complexity")= complexity
				.test-content
					.questions-wrapper
						each question, questionIndex in questions
							.question-wrapper.col-xs-12.col-m-6.col-4
								.question-content
									case question["type"]
										when 1
											- var selector = "radio"
										when 2
											- var selector = "checkbox"
										default
											- var selector = null
									.question-head-wrapper
										h3= "Question " + (questionIndex + 1)
									.question-title-wrapper
										h4= question["title"]
									.options-wrapper
										each option, optionIndex in question["options"]
											.option-wrapper
												input.option-select(type=selector, id="option-" + questionIndex + "-" + optionIndex, name="option-" + questionIndex)
												label.option-content(for="option-" + questionIndex + "-" + optionIndex)= option
									// TODO: add "help/tip" feature
				.test-after
					// social sharing
		include ../partials/footer
